@font-face {
  font-family: 'Tengwar Annatar';
  src: url('../font/tengwar-annatar.eot?13643486808430044333'); /* IE9 Compat Modes */
  src: url('../font/tengwar-annatar.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/tengwar-annatar.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/tengwar-annatar.ttf')  format('truetype') /* Safari, Android, iOS */
}

.tengwar{
	font-family: Tengwar Annatar;
}